.navbar {
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  }
  
  .imdb-logo {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #f5c518;
    padding: 5px 10px;
    color: black;
    border-radius: 4px;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .form-control {
    max-width: 400px;
  }
  
  .navbar .btn-warning {
    font-weight: bold;
  }
  